[package]
versioned_files = [
    "Cargo.toml", 
    { path = "Cargo.lock", dependency = "apollo-mcp-server" },
    { path = "scripts/nix/install.sh", regex = "PACKAGE_VERSION=\"v(?<version>\\d+\\.\\d+\\.\\d+)\"" },
    { path = "scripts/windows/install.ps1", regex = "\\$package_version = 'v(?<version>\\d+\\.\\d+\\.\\d+)'" },
    { path = "docs/source/run.mdx", regex = "(^|[^\\w.-])v?(?<version>\\d+\\.\\d+\\.\\d+)([^\\w.]|$)" }
]
changelog = "CHANGELOG.md"
assets = "artifacts/*"

[[workflows]]
name = "prepare-release"

[[workflows.steps]]
type = "Command"
command = "git switch -c release"

[[workflows.steps]]
type = "PrepareRelease"
ignore_conventional_commits = true

[[workflows.steps]]
type = "Command"
command = "git commit -m \"chore: prepare release $version\""

[[workflows.steps]]
type = "Command"
command = "git push --force --set-upstream origin release"

[[workflows.steps]]
type = "CreatePullRequest"
base = "main"

[workflows.steps.title]
template = "chore: prepare release $version"

[workflows.steps.body]
template = "This PR was created by Knope. Merging it will create a new release\n\n$changelog"

[[workflows]]
name = "release"

[[workflows.steps]]
type = "Release"

[[workflows]]
name = "get-version"

[[workflows.steps]]
type = "Command"
command = "echo \"$version\""

[[workflows]]
name = "prepare-experimental-release"

[[workflows.steps]]
type = "Command"
command = "git switch -c release-temp-$version"

[[workflows.steps]]
type = "PrepareRelease"
ignore_conventional_commits = true

[[workflows.steps]]
type = "Command"
command = "git commit -m \"chore: prepare experimental release $version\""

[[workflows.steps]]
type = "Command"
command = "git push --force --set-upstream origin release-temp-$version"

[github]
owner = "andrewmcgivery"
repo = "apollo-mcp-server"