name: Prepare Release (new)

on: workflow_dispatch

jobs:
    prepare-release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
            issues: read
            id-token: write
        steps:
            - uses: actions/checkout@v4

            - name: Configure Git
              run: |
                  git config --global user.name GitHub Actions
                  git config user.email github-actions@github.com

            - uses: knope-dev/action@v2.1.0
              with:
                  version: 0.21.7

            - run: knope prepare-release --verbose
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
