name: Prepare Release (new)

on: workflow_dispatch

jobs:
    prepare-release:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Configure Git
              run: |
                  git config --global user.name GitHub Actions
                  git config user.email github-actions@github.com

            - uses: knope-dev/action@v2.1.0
              with:
                  version: 0.21.7

            - run: knope prepare-release --verbose --dry-run

            - name: "test"
              run: git branch --show-current

            # - name: Update install script versions
            #   run: |
            #       sed -i 's/^PACKAGE_VERSION=".*"$/PACKAGE_VERSION="v${{ inputs.version }}"/' scripts/nix/install.sh
            #       sed -i "s/^\$package_version = '.*'$/\$package_version = 'v${{ inputs.version }}'/" scripts/windows/install.ps1
